.body{
    background:#f5EE31;
    width:300px;
    height:400px;
    border:5px solid #000;
    position:relative;
    margin:50px auto;
    overflow: hidden;
}

/* ojos  */
.ojos{
    position: absolute;
    left:40px;
    top:40px;
    width:210px;
    z-index:10;
}
.ojos .ojo{
    background:#fff;
    position: relative;
    border:5px solid #000;
    width:100px;
    height:100px;
    margin-right:-17px;
    display:inline-block; 
    border-radius:50%;
}
.ojos .ojo .ojo-externo{
   background:#00AEEF;
   width:50px;
   height:50px;
   position:absolute;
   top:20px;
   left:25px;
   border-radius:50%;
   border:3px solid #000;


}
.ojos .ojo .ojo-externo .ojo-interno{
    width:30px;
    height:30px;
    background:#000;
    border-radius:50%;
    position: relative;
    top:10px;
    left:10px;
}
.ojos .pestanas{
    position: relative;
    bottom:28px;
    left:12px;    
}
.ojos .pestanas .pestana{
    width:15px;
    height:5px;
    background:#000;
    display:inline-block;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    margin-right:10px;
}
.ojos .pestanas .primera{
    position:relative;
    top:13px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
}
.ojos .pestanas .segunda{
    position:relative;
    top:8px;
}
.ojos .pestanas .tercera{
    position:relative;
    top:12px;
    transform:rotate(-45deg);
}
                                       /* NARIZ */
.nariz{
    width:20px;
    height:40px;
    background:#f5EE31;
    position:absolute;
    top:110px;
    left:130px;
    border:5px solid #000;
    z-index:10;
    border-bottom:5px solid #f5EE31;
    border-radius:43.3%;
}                                       

                                  /* Boca */
.boca{
    width:200px;
    height:80px;
    background:transparent;
    position:absolute;
    top:120px;
    left:50px;
    border-radius:50%;
    z-index:10px;
    border-bottom:5px solid #000;
}    
             /* Dientes */
.dientes{
    position:relative;
    top:80px;
    left:65px;
}             
.diente{
    width:20px;
    height:20px;
    background:#fff;
    border:5px solid #000;
    display:inline-block;
}  

.mejillas1{
    width:30px;
    height:20px;
    background:transparent;
    position: absolute;
    top:30px;
    border:3px solid #f1592A;
    border-bottom:3px solid transparent;
    border-radius:50% 50% 20% 20%;
    left:-17px;
}
.mejillas2{
    width:30px;
    height:20px;
    background:transparent;
    position: absolute;
    top:30px;
    border:3px solid #f1592A;
    border-bottom:3px solid transparent;
    border-radius:50% 50% 20% 20%;
    left:175px;
}
/* Camisa */
.camisa{
    width:100%;
    height:50px;
    position: absolute;
    background:#fff;
    bottom:50px;
    border-top:5px solid #000;
    z-index:10px;
    overflow: hidden;
}
.cuello{
    width:50px;
    height:30px;
    position: absolute;
    background:#fff;
    top:-25px;
    border:5px solid #000;
    -webkit-transform:rotate(30deg);
    -moz-transform:rotate(30deg);
    -o-transform:rotate(30deg);
    -ms-transform:rotate(30deg);
    transform:rotate(30deg);
}
.cuello.primero{
    left:60px;
}
.cuello.segundo{
    left:180px;
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -o-transform:rotate(-30deg);
    -ms-transform:rotate(-30deg);
    transform:rotate(-30deg);
}
.cuello-corbata{
    width:40px;
    height:40px;
    background:#f00200;
    border:5px solid #000;
    position:absolute;
    left:125px;
    bottom:30px;
    z-index:50px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(4530deg);
    transform:rotate(45deg);
}
/* Cola De corbata */
.cola-corbata{
    width:55px;
    height:55px;
    background: #f00200;
    border:5px solid #000;
    position: absolute;
    left:118px;
    bottom:0%;
    z-index:50;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);

}

/* Pantalones */
.pantalones{
    width:100%;
    height:50px;
    background:#6a3d13;
    position: absolute;
    bottom:0%;
    border-top:5px solid #000;
    z-index:10;
}
.cinturon{
    width:40px;
    height:15px;
    position: absolute;
    top:20px;
    background:#000;
}
.cinturon.primero{
    left:20px;
}
.cinturon.segundo{
    left:90px;
}
.cinturon.tercero{
    right:90px;
}
.cinturon.cuarto{
    right:20px;
}

            /* Poro */
.poro{
    background: #c0a402;
    height: 40px;
    width:40px;
    position: absolute;
    border-radius:50%;
    z-index:1;
}

.poro.primero{
    top:230px;
    left:20px;
    height:50px ;
    width: 50px;
}

.poro.segundo{
    top:200px;
    left:280px;

}
.poro.tercero{
    top:50px;
    left:260px;
    height:15px;
    width: 15px;
}
.poro .cuarto{
    top:300px;
    left:50px;
    height:30px ;
    width: 30px;
}












